{% extends 'SProvider/design1.html' %}
{% block researchblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 1104px;
    height: 442px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style6 {color: #FF0000}
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">
 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p align="center" class="text-uppercase pull-center style1">View All Risk Student Prediction Type Details !!! </p>
                            <hr>
                            <div class="tweettext">
                                <table border="5" bordercolor="#FF00FF">

                         <tr><td bgcolor="#FF0000"><span class="style8"> Register Number</span></td>
                        <td bgcolor="#FF0000"><span class="style8">Student Name</span></td>
                        <td bgcolor="#FF0000"><span class="style8">Semester1 Total Percentage</span></td>
                        <td bgcolor="#FF0000"><span class="style8">Semester2 Total Percentage</span></td>
                        <td bgcolor="#FF0000"><span class="style8">Semester3 Total Percentage</span></td>

                             <td bgcolor="#FF0000"><span class="style8">Overall Percentage</span></td>
                             <td bgcolor="#FF0000"><span class="style8">earliest Possible Prediction</span></td>

                      </tr>
                            {% for object in objs %}
                      <tr>

                          <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.regno}}</div></td>
                            <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.names}}</div></td>
                            <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.sem1}}</div></td>
                            <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.sem2}}</div></td>
                            <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.sem3}}</div></td>
                           <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.avg}}</div></td>
                           <td bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center">{{object.risk}}</div></td>


                        </tr>

                                        {% endfor %}
                      </table>


                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>